# pip install -r requirements.txt

# base ----------------------------------------
yolov5

# deep_sort -----------------------------------

easydict

# torchreid -----------------------------------

Cython
h5py
six
tb-nightly
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio

# Export --------------------------------------
#onnx>=1.9.0  # ONNX export
#onnx-simplifier>=0.4.1  # ONNX simplifier
#tensorflow>=2.4.1  # TFLite export (or tensorflow-cpu, tensorflow-aarch64)
#openvino-dev  # OpenVINO export
#git+https://github.com/PINTO0309/openvino2tensorflow #OpenVINO to TFLite export
#nvidia-tensorrt